.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}
.fighter-preview___right .fighter-preview___img {
  transform: scaleX(-1);
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___img {
  height: 380px;
  margin-bottom: 22px;
}

.fighter-preview___info-container {
  flex-direction: column;
  padding: 12px;
}
.fighter-preview___info-element {

}
.fighter-preview___info-element.health {
  color: red;
}
.fighter-preview___info-element.attack {
  color: #ba0303;
}
.fighter-preview___info-element.defense {
  color: darkgoldenrod;
}

.fighter-preview___info-element-title {
  font-size: 22px;
}
.fighter-preview___info-element-value {
  font-weight: 600;
  font-size: 18px;
  color: #000;
}
