.preview-container___root {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.preview-container___versus-block {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
  align-items: center;
  justify-content: center;
}

.preview-container___versus-img {
  width: 130px;
}

.preview-container___fight-btn {
  padding: 8px 35px;
  justify-self: right;
  text-align: center;
  background: #ba0303;
  margin: 40px 0;
  color: #f8f9f4;
  font-size: 22px;
  font-weight: bold;
  border: 1px solid #f8f9f4;
  box-shadow: 6px 6px 7px 0 rgba(0, 0, 0, 0.75);
  transition: color .4s,
    background-color .4s,
    border-color .4s;
}
.preview-container___fight-btn:hover {
  color: #ba0303;
  background-color: #f8f9f4;
  border-color: #ba0303;
  cursor: pointer;
}

.preview-container___fight-btn.disabled {
  opacity: 0;
}
